name: DB Migrations

on:
  push:
    branches:
      - main

jobs:
  migrate:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Write GCP SA key to file
        run: |
          echo "$GCP_SA_KEY" > gcp-sa.json

      - name: Start Cloud SQL Auth Proxy (Docker) using CLOUDSQL_CONNECTION_NAME
        run: |
         docker run --rm -d --network host \
          -v $PWD/gcp-sa.json:/secrets/gcp-sa.json:ro \
          gcr.io/cloud-sql-connectors/cloud-sql-proxy:2.19.0 \
          tcp:3306=$CLOUDSQL_CONNECTION_NAME \
          --credentials-file=/secrets/gcp-sa.json \
          sh -c "
            ./cloud-sql-proxy tcp:3306=$CLOUDSQL_CONNECTION_NAME --credentials-file=/secrets/gcp-sa.json &
            PROXY_PID=\$!
            sleep 10
            flyway -url=jdbc:mysql://127.0.0.1:3306/$DB_NAME -user=$DB_USER -password=$DB_PASSWORD migrate
            kill \$PROXY_PID
          "
